*vs
*.vs
*/.vs

*bin
*/bin
*Resturant.Api/bin
*Resturant.Api/obj
*appsettings.json


*Resturant.Core/bin
*Resturant.Core/obj

*Resturant.Data/bin
*Resturant.Data/obj

*Resturant.Service/bin
*Resturant.Service/obj